<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        {{widget('profile', 'footer__column1_profile--email', { 'profileType':'email', 'email':'profile'})|raw}}
	</div>

</footer>
<!-- End Footer -->